@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf") format("truetype");
  }

@font-face {
    font-family: "Roboto_gras";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}

p, h1, button, input {
    font-family: Roboto;
}