main {
  padding: 0 5%;
}

.search {
  align-items: center;
  display: flex;
  width: calc(100% + 15px);

  &__input {
    background-color: #e7e7e7;
    border: 0;
    font-size: 16px;
    outline: none;
    padding: 14px 20px;
    width: 100%;
  }
  &__icon {
    font-size: 20px;
    left: -35px;
    position: relative;
  }
}

.grid {
  display: grid;
  grid-gap: 40px 0;
  grid-template-columns: repeat(3, minmax(100px, 480px));
  grid-template-rows: auto;
  justify-content: space-between;
  justify-items: center;
  padding-top: 10px;
  position: relative;

  .card {
    background-color: #e7e7e7;
    width: 480px;

    &__description {
      display: flex;
      float: left;
      max-height: 300px;
      padding: 0 10px 10px 20px;
      width: 450px;
    }
    &__description-tutorial {
      font-size: 13px;
      padding-left: 5px;
      width: 50%;
      p {
      }
    }
    &__picture {
      background-color: #c7bebe;
      height: 150px;
      margin-bottom: -1px;
      width: 100%;
    }
    &__recipes-item {
      display: flex;
      font-size: 13px;
      padding: 1px 0;
      &-title {
        font-weight: 600;
      }
    }
    &__recipes-list {
      width: 50%;
    }
    &__time {
      display: flex;
    }
    &__time-icons {
    }
    &__title {
      align-items: flex-end;
      background-color: #e7e7e7;
      display: flex;
      flex-direction: row;
      font-weight: 600;
      justify-content: space-between;
      margin-top: -3px;
      padding: 20px 10px 20px 20px;
    }
    &__title-text {
      font-size: 18px;
    }
  }
}

// Responsive

/* Large devices (desktop, 1200px to 1500px)*/
@media (min-width: 1440px) and (max-width: 1650px) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 420px));
    .card {
      width: 420px;

      &__description {
        padding: 0 10px 10px 10px;
        width: 400px;
      }
      &__description-tutorial {
        font-size: 12px;
        width: 55%;
      }
      &__recipes-item {
        font-size: 12px;
      }
    }
  }
}

/* Large devices (desktop, 1100px to 1440px)*/
@media (min-width: 1100px) and (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 450px));
    justify-items: center;
    .card {
      width: 450px;
      &__description {
        width: 430px;
      }
      &__description-tutorial {
        font-size: 14px;
        width: 50%;
      }
      &__recipes-item {
        font-size: 13px;
      }
    }
  }
}

/* Medium devices (tablets, 600px to 1100px) */
@media (min-width: 600px) and (max-width: 1100px) {
  .filters .filters__dropdown .dropdown:hover {
    .dropdown-content,
    .dropbtn {
      width: 200px;
    }
  }
  .filters .filters__dropdown .dropdown-items {
    grid-template-columns: repeat(2, minmax(50px, 50%));
  }

  .grid {
    grid-template-columns: repeat(1, minmax(100px, 550px));
    justify-items: center;
    justify-content: center;
    .card {
      width: 550px;
      &__description {
        padding: 0 10px 10px 20px;
        width: 530px;
      }
      &__description-tutorial {
        font-size: 16px;
        width: 50%;
      }
      &__recipes-item {
        font-size: 16px;
      }
    }
  }
}

/* Small devices (landscape phones, 400px to 600px) */
@media (min-width: 400px) and (max-width: 600px) {
  .search__input {
    font-size: 16px;
    padding: 14px 40px 14px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .filters .filters__dropdown .dropdown .dropbtn {
    font-size: 14px;
    margin: 0 2px;
    padding: 12px 6px;
    width: 115px;
    i {
      padding-left: 10px;
    }
  }

  .filters .filters__dropdown .dropdown:hover {
    .dropdown-content,
    .dropbtn {
      width: 150px;
    }
  }
  .filters .filters__dropdown .dropdown-items {
    grid-template-columns: repeat(2, minmax(50px, 50%));
  }
  .filters .filters__dropdown-green .dropdown:hover .dropdown-content {
    left: calc(5% + 91px);
}
.filters .filters__dropdown-red .dropdown:hover .dropdown-content {
    left: calc(5% + 91px + 91px);
}

  .grid {
    grid-template-columns: repeat(1, minmax(100px, 300px));
    justify-items: center;
    justify-content: center;
    .card {
      width: 300px;
      &__description {
        padding: 0 10px 10px 20px;
        width: 280px;
      }
      &__description-tutorial {
        font-size: 16px;
        width: 50%;
      }
      &__recipes-item {
        display: flex;
        font-size: 16px;
      }
    }
  }
}

/* Small devices (phones, under 400px) */
@media (max-width: 400px) {
  .search__input {
    font-size: 16px;
    padding: 14px 40px 14px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .filters .filters__dropdown .dropdown .dropbtn {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 4px;
    padding: 8px 6px;
    width: 83px;
    i {
      padding-left: 0;
    }
  }

  .filters .filters__dropdown .dropdown:hover {
    .dropdown-content,
    .dropbtn {
      width: 100px;
    }
  }
  .filters .filters__dropdown .dropdown-items {
    grid-template-columns: repeat(1, minmax(50px, 100%));
  }
  .filters .filters__dropdown-green .dropdown:hover .dropdown-content {
    left: calc(5% + 91px);
}
.filters .filters__dropdown-red .dropdown:hover .dropdown-content {
    left: calc(5% + 91px + 91px);
}

  .grid {
    grid-template-columns: repeat(1, minmax(100px, 260px));
    justify-items: center;
    justify-content: center;
    .card {
      width: 260px;
      &__title {
        padding: 10px;
      }
      &__description {
        padding: 0 5px 10px 10px;
        width: 240px;
      }
      &__description-tutorial {
        font-size: 12px;
        width: 45%;
      }
      &__recipes-list {
        width: 55%;
      }
      &__recipes-item {
        display: flex;
        font-size: 12px;
      }
    }
  }
}
